name: NextJS Docker CI/CD

on:
  push:
    branches:
      - main

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            lion3993vn/sop-web:latest

  deploy:
    runs-on: self-hosted
    needs: docker-build

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          clean: false

      - name: Clean up old Docker resources
        run: |
          docker stop sop-web || true
          docker rm sop-web || true

      - name: Deploy to VPS
        run: |
          docker pull lion3993vn/sop-web:latest
          docker run -d --name sop-web --env-file ${{ secrets.PATH_ENV }} -p 6969:6969 lion3993vn/sop-web:latest

      - name: Verify running containers
        run: docker ps -a